samples/stage1/stage1_01_labelTrue_hin.wav filter=lfs diff=lfs merge=lfs -text
samples/stage1/stage1_02_labelFalse_hin.wav filter=lfs diff=lfs merge=lfs -text
samples/stage1/stage1_03_labelFalse_hin.wav filter=lfs diff=lfs merge=lfs -text
samples/stage1/stage1_04_labelFalse_hin.wav filter=lfs diff=lfs merge=lfs -text
samples/stage1/stage1_05_labelFalse_hin.wav filter=lfs diff=lfs merge=lfs -text
samples/stage1/stage1_06_labelTrue_hin.wav filter=lfs diff=lfs merge=lfs -text
samples/stage1/stage1_07_labelTrue_hin.wav filter=lfs diff=lfs merge=lfs -text
samples/stage1/stage1_08_labelTrue_hin.wav filter=lfs diff=lfs merge=lfs -text
samples/stage1/stage1_09_labelFalse_hin.wav filter=lfs diff=lfs merge=lfs -text
samples/stage1/stage1_10_labelFalse_hin.wav filter=lfs diff=lfs merge=lfs -text
samples/stage1/stage1_11_labelTrue_hin.wav filter=lfs diff=lfs merge=lfs -text
samples/stage2/stage2_00_labelFalse_Bengali.wav filter=lfs diff=lfs merge=lfs -text
samples/stage2/stage2_01_labelFalse_Hindi.wav filter=lfs diff=lfs merge=lfs -text
samples/stage2/stage2_02_labelFalse_Gujarati.wav filter=lfs diff=lfs merge=lfs -text
samples/stage2/stage2_03_labelFalse_Hindi.wav filter=lfs diff=lfs merge=lfs -text
samples/stage2/stage2_04_labelFalse_Gujarati.wav filter=lfs diff=lfs merge=lfs -text
samples/stage2/stage2_05_labelFalse_Hindi.wav filter=lfs diff=lfs merge=lfs -text
samples/stage2/stage2_06_labelFalse_Hindi.wav filter=lfs diff=lfs merge=lfs -text
samples/stage2/stage2_07_labelTrue_Hindi.wav filter=lfs diff=lfs merge=lfs -text
samples/stage2/stage2_08_labelFalse_Kashmiri.wav filter=lfs diff=lfs merge=lfs -text
samples/stage2/stage2_09_labelTrue_Hindi.wav filter=lfs diff=lfs merge=lfs -text
samples/stage2/stage2_10_labelFalse_Hindi.wav filter=lfs diff=lfs merge=lfs -text
samples/stage2/stage2_11_labelFalse_Hindi.wav filter=lfs diff=lfs merge=lfs -text
samples/stage2/stage2_12_labelTrue_Hindi.wav filter=lfs diff=lfs merge=lfs -text
samples/stage2/stage2_13_labelFalse_Kannada.wav filter=lfs diff=lfs merge=lfs -text
samples/stage2/stage2_14_labelFalse_Hindi.wav filter=lfs diff=lfs merge=lfs -text
